$heading-font: 'Crimson Text', serif;
$body-font: 'Raleway', sans-serif;

.headings{
    font-family: $heading-font;
}

body{
    background-image:url(/images/015.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    font-family: 'Raleway', sans-serif;;
    
}

section{
    background-color:white;
    padding: 1em;
}


p{
    font-family: $body-font;
}
/*Nav*/
.anchor {
  display: block;
  height: 82px;
  /* this is the height of your header */
  margin-top: -82px;
  /* this is again negative value of the height of your header */
  visibility: hidden; 
}

nav{

    .page__nav-li{
        padding-top:1em;
    }

    .logo{
        font-family:$heading-font;
        font-size: 3em;
    }
    
    li{
        font-family: $body-font;
    }

}

.navigation{
    opacity:.8;
}
.navigation:hover{
    opacity:1;
}

.page__nav-li{
    font-size:1.5em;
}


/*About*/

.about{
    margin-top: 9em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

}

.about__profilePic{
    max-width:100%;
    height:auto;
    float:left;
    clear:both;
    margin-right: 1em;
}
/*Books*/

.books{
    margin-top:1em;
}

.books__all-image{
    position:relative;
    font-size:3em;
    padding: .5em;
}

.books__all-description{
    max-width: 100%;
    height: auto;
    
    .description-arrow-left{
        position: absolute;
        top: 50%;
        left: -2%;
        font-size:2em;
    }
    
    .description-arrow-right{
        position: absolute;
        top: 50%;
        right: -2%;
        font-size:2em;
    }
    
    
}

.books__all-image{
    
    .arrow-left{
        position: absolute;
        top: 50%;
        left: -10%;
    }

    .arrow-right{
        position: absolute;
        top: 50%;
        right: -10%;
    }
}


/*Contact*/
.contact{
    margin: 1em 0;
    text-align:center;
}
.box{
    display:inline-block;
    margin-right:10px;
}


